﻿
@{
    Layout = null;
}
@model Dictionary<string, List<AGL.Pet.Common.Models.PetInfo>>;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGL Code Challenge - Sample App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                    <strong>AGL Code Challenge</strong>
                </a>
            </div>
        </div>
    </header>
    <section class="container mt-5">
        <h1>AGL Code Challenge - Sample App</h1>
        @if (ViewData.ModelState.IsValid)
        {
            <ul>

                @foreach (var item in Model)
                {
                    <li>
                        <strong class="text-success">@Html.Raw(item.Key)</strong>
                        <ul>
                            @foreach (var pet in item.Value)
                            {
                                <li>@Html.Raw(pet.Name)</li>
                            }
                        </ul>
                    </li>
                 }
            </ul>
        }
        else
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }
        <a href="/api/v1.0/pet" target="_blank" class="btn btn-lg btn-primary">JSON API V1.0</a>
        <a href="/api/v2.0/pet" target="_blank" class="btn btn-lg btn-primary">JSON API V2.0</a>
        <a href="/swagger" >
            <img src="http://payload.cargocollective.com/1/0/15857/2042929/swagger_logo.png" height="48"/>
        </a>
    </section>
</body>
</html>
